html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ul[class] {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #FFFAF3;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  font-size: 55px;
  text-align: center;
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
}

.btn {
  background-color: inherit;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 13px 26px;
  text-transform: uppercase;
  transition: background-color 0.4s;
  font-weight: 400;
}
.btn:hover {
  background-color: #D4DCB2;
}

.header {
  color: #181818;
  font-weight: 300;
  padding-top: 20px;
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 63px;
}
.header__nav {
  margin-right: 63px;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  position: relative;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.4s;
}
.nav__item:hover, .nav__item:focus {
  background-color: #D4DCB2;
}
.nav__item::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  border-bottom: 3px solid rgb(20, 60, 20);
  border-radius: 2px;
  transition: transform 0.5s;
}
.nav__item:hover::after {
  transform: scaleX(1);
}
.nav__item + .nav__item {
  margin-left: 25px;
}
.nav__item:last-child {
  font-family: sans-serif;
  font-weight: 400;
}

.hero {
  padding: 60px 0 100px;
}
.hero__inner {
  display: flex;
  position: relative;
}
.hero__title {
  font-size: 24px;
}
.hero__subtitle {
  position: relative;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 80px;
  font-style: italic;
  font-weight: 300;
  max-width: 860px;
  position: relative;
  margin-bottom: 70px;
}
.hero__subtitle::after {
  position: absolute;
  content: "";
  width: 335px;
  height: 335px;
  background: #E3EBC1;
  filter: blur(50px);
  left: 0;
  top: 0;
  z-index: -1;
}
.hero__subtitle-serif {
  font-family: "Raleway", sans-serif;
}
.hero__img {
  position: absolute;
  right: 10px;
  top: 130px;
}
.hero__btn {
  margin-right: 30px;
}
.hero__link {
  border-bottom: 1px solid #000000;
}
.hero__services-list {
  display: flex;
  margin-top: 85px;
  margin-bottom: 130px;
}
.hero__services-item:not(:last-child) {
  margin-right: 30px;
}
.hero__advantages-list {
  font-family: "Cormorant Garamond", sans-serif;
  font-weight: 400;
  color: #181818;
}
.hero__advantages-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__advantages-item {
  font-size: 72px;
  text-align: center;
}
.hero__advantages-item:not(:last-child) {
  margin-right: 110px;
}
.hero__advantages-item-text {
  display: block;
  font-size: 18px;
  max-width: 190px;
}

.services {
  padding: 100px 0 350px;
}
.services__inner {
  position: relative;
}
.services__inner::after {
  position: absolute;
  content: "";
  width: 335px;
  height: 335px;
  background: #E3EBC1;
  filter: blur(50px);
  left: 0;
  top: 50px;
  z-index: -1;
}
.services__title {
  margin-bottom: 50px;
}
.services__menu {
  position: relative;
  display: flex;
}
.services__list {
  position: absolute;
  left: 0;
  width: 50%;
  margin-top: 60px;
}
.services__list::before {
  position: absolute;
  content: "";
  background-size: cover;
  width: 208px;
  height: 261px;
  right: -620px;
  top: -90px;
}
.services__list::after {
  position: absolute;
  content: "";
  background-size: cover;
  width: 362px;
  height: 416px;
  right: -490px;
  top: -30px;
  z-index: 1;
}
.services__list--hand::before {
  background-image: url("../img/services/bg-m-1-desk.webp");
}
.services__list--hand::after {
  background-image: url("../img/services/bg-m-2-desk.webp");
}
.services__list--nail::before {
  background-image: url("../img/services/bg-n-2-desk.webp");
}
.services__list--nail::after {
  background-image: url("../img/services/bg-n-1-desk.webp");
}
.services__list--leg::before {
  background-image: url("../img/services/bg-m-1-desk.webp");
}
.services__list--leg::after {
  background-image: url("../img/services/bg-l-1-desk.webp");
  width: 415px;
  height: 520px;
  top: -70px;
}
.services__list--brow::before {
  background-image: url("../img/services/bg-b-2-desk.webp");
}
.services__list--brow::after {
  background-image: url("../img/services/bg-b-1-desk.webp");
  width: 415px;
  height: 520px;
  top: -70px;
}
.services__menu-item {
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.4s;
}
.services__menu-item:hover, .services__menu-item:focus {
  background-color: #D4DCB2;
}
.services__menu-item + .services__menu-item {
  margin-left: 95px;
}
.services__menu-link {
  font-size: 36px;
  font-weight: 400;
  font-family: "Cormorant Garamond";
  padding-bottom: 11px;
}
.services__menu-link.services__menu-link--active {
  border-bottom: 4px solid #9da57c;
  border-radius: 2px;
}
.services__item {
  display: flex;
  justify-content: space-between;
}
.services__item:not(:last-child) {
  margin-bottom: 12px;
}

.services__menu-link ~ .services__list {
  display: none;
}

.services__menu-link.services__menu-link--active ~ .services__list {
  display: block;
}

.portfolio {
  padding: 200px 0 50px;
}
.portfolio__title {
  margin-bottom: 25px;
}/*# sourceMappingURL=main.css.map */