.services {
  padding: 100px 0 350px;

  &__inner {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 335px;
      height: 335px;
      background: #E3EBC1;
      filter: blur(50px);
      left: 0;
      top: 50px;
      z-index: -1;
    }
  }

  &__title {
    margin-bottom: 50px;
  }

  &__menu {
    position: relative;
    display: flex;
  }

  &__list {
    position: absolute;
    left: 0;
    width: 50%;
    margin-top: 60px;

    &::before {
      position: absolute;
      content: '';
      background-size: cover;
      width: 208px;
      height: 261px;
      right: -620px;
      top: -90px;
    }

    &::after {
      position: absolute;
      content: '';
      
      background-size: cover;
      width: 362px;
      height: 416px;
      right: -490px;
      top: -30px;
      z-index: 1;
    }
  }

  &__list--hand {

    &::before {
      background-image: url('../img/services/bg-m-1-desk.webp');
    }
    
    &::after {
      background-image: url('../img/services/bg-m-2-desk.webp');
    }
  }

  &__list--nail {

    &::before {
      background-image: url('../img/services/bg-n-2-desk.webp');
    }
    
    &::after {
      background-image: url('../img/services/bg-n-1-desk.webp');
    }
  }

  &__list--leg {

    &::before {
      background-image: url('../img/services/bg-m-1-desk.webp');
    }
    
    &::after {
      background-image: url('../img/services/bg-l-1-desk.webp');
      width: 415px;
      height: 520px;
      top: -70px;
    }
  }

  &__list--brow {

    &::before {
      background-image: url('../img/services/bg-b-2-desk.webp');
    }
    
    &::after {
      background-image: url('../img/services/bg-b-1-desk.webp');
      width: 415px;
      height: 520px;
      top: -70px;
    }
  }

  &__menu-item {
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.4s;

    &:hover,
    &:focus {
      background-color: $secondary-color;
    }
  }

  &__menu-item + &__menu-item {
    margin-left: 95px;
  }

  &__menu-link {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Cormorant Garamond';
    padding-bottom: 11px;
  }

  &__menu-link.services__menu-link--active {
    border-bottom: 4px solid #9da57c;
    border-radius: 2px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

.services__menu-link ~ .services__list {
  display: none;
}

.services__menu-link.services__menu-link--active ~ .services__list {
  display: block;
}
